<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Django</title>
</head>
<body>
    <!-- CABEZERA Y MENU -->
    <h1> Mi Primera web</h1>

    <ul>
        <li><a href="/">Portada</a></li>
        <li><a href="/acerca_de/">Acerca de</a></li>
        <li><a href="/contacto/">Contacto</a></li>
        <li><a href="/portafolio/">Portafolio</a></li>
    </ul>
    <!-- CONTENIDO -->
    {%block content%}

    {%endblock%}

</body>
<footer>
    &copy; Pedro Macias -Copyright 2021 
</footer>
</html>