<!-- IMPORTAMOS LA PLANTILLA -->
{% extends 'core/plantilla.html' %}
<!-- importamos archivos estaticos -->
{% load static %}

<!-- TITULO -->
{% block title %}
    Portafolio
{% endblock %}
<!-- BLOQUE IMAGEN FONDO -->
{% block ImagenFondo %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

<!-- BLOQUE CABECERA -->

{% block Cabeceras %}
<h1>Portafolio</h1>
<span class="subheading">Curículo - Cursos y proyectos </span>
{% endblock %}

<!-- CONTENIDO -->
{% block content %}
    <!-- proyecto -->
    <div class="row project">
        <div class="col-lg-3 col-md-4 offset-lg1">
            <img class="img-fluid" 
            src="{% static 'core/img/python.jpg '%}" alt="">
        </div>
        <div class= "col-lg-7 col-md-8">
            <h2 class= "section-heading title">Segundo proyecto</h2>
            <p>Ponemos en practica Python , con su framework Flask. 
                esta practica consistira en poder hacer un miniblog,
            </p>
            <p><a href="https://github.com/Pedro-Macias/Mi-blog-Flask">Más informacion en Githup</a></p>
        </div>
    </div>

    <!-- proyecto -->
    <div class="row project">
        <div class="col-lg-3 col-md-4 offset-lg1">
            <img class="img-fluid" 
            src="{% static 'core/img/bootstrap.jpg' %}" alt="">
        </div>
        <div class= "col-lg-7 col-md-8">
            <h2 class= "section-heading title">Primer proyecto</h2>
            <p> Ponemos en funcionamiento una Blog , creando mi propia plantilla de 
                wordpress, utilizando BOOTSTRAP4 , HTML5 , CSS3 , algo de PHP y JAVASCRIPTS
            </p>
            <p><a href="https://www.mcveasmoto.com/">Más informacion en la pagina del blog</a></p>
        </div>
    </div>


{% endblock %}